@model QuanLiNhaHang.Models.ChitiethoadonModel
@{
    ViewBag.Title = "Chitiethoadon";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutPage1.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                @using (Html.BeginForm("TaoChitiethoadon", "Home", "Employee", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="section">Tạo hóa đơn</span>
                    <div class="item form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <label style="text-align:left" class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                            Mã Món Ăn:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.ValidationMessageFor(model=>model.MaMonAn, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.MaMonAn, new { @id = "mahd", @class = "form-control col-md-7 col-xs-12", @data_validate_length_range = "6", @data_validate_words = "2", @name = "mahd", @type = "text" })

                        </div>
                    </div>
                   
                    <div class="item form-group">
                        <label style="text-align:left" class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                            Số lượng:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.ValidationMessageFor(model => model.soluong, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(model => model.soluong, new { @type = "text", @id = "maban", @name = "maban", @class = "form-control col-md-7 col-xs-12" })

                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-primary" id="send" type="submit" style="color: white;">Next</button>
                            @Html.ActionLink("Xuất hóa đơn", "XuatHonDon", "Home","Employee", new { @style = "color: white;", @class = "btn btn-success", @id = "send", @type = "submit" })
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
